body { margin: 0; padding: 0; font: normal 13px "Lucida Grande", "Trebuchet MS", Verdana, Helvetica, sans-serif; }
.gridTbl{
  border:1px solid #000000;padding:4px; margin:0 auto;
}  
.gridTblHead{
  border:1px solid #000000;color:#FFFFFF;padding:4px;
  background-color:#0C6ED1;
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-size:9px;
}
.gridTblValue{
  border:1px solid #000000;padding:4px;
    font-family:Verdana, Arial, Helvetica, sans-serif;
  font-size:9px;

}  

a
{
text-decoration:none;
color:#666666;

}

a:hover
{

color:#999999;
text-decoration:underline;

}
#loading {
	width: 801px;
	position:absolute;
}

#pagination
{
text-align:center;
margin-left:250px;

}
#pagination li{	
list-style: none; 
float: left; 
margin-right: 16px; 
padding:5px; 
border:solid 1px #dddddd;
background-color:#98F1EF;
color:#0063DC; 
}
li:hover
{ 
color:#FF0084; 
cursor: pointer; 
}




.style1 {
	color: #FFFFFF;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
}
.style2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
}
.style3 {color: #000000}
.style4 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}
.style5 {
	font-family: Calibri;
	font-size: 12px;
	font-weight: bold;
    color:#666666;
}
#tblborder{
  border:1px solid #DFF6FE;
}
#tblleft{
  border:1px solid #DFF6FE;
}
#stdtbl{
  border:1px solid #DFF6FE;
  padding:5px;
  margin:9px;
  }
.sttd{
   border-bottom:1px solid #DFF6FE;
   }
body {
	margin-top: 0px;
	margin-bottom: 0px;
}
.style11 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
}
.stars{
    font:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#FF0000;
}
#msgerr{
   font-family:Arial, Helvetica, sans-serif;
   font-size:12px;
   color:#FF0000;
}
#msgs{
   font-family:Arial, Helvetica, sans-serif;
   font-size:12px;
   color:#009900;
}
.formhead{
 font: normal 13px "Lucida Grande", "Trebuchet MS", Verdana, Helvetica, sans-serif;
 font-size:14px;
 padding:3px;
 font-weight:bold;
 }
 
 .style12 {font-size: 10px}
.style15 {
	font-size: 12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.style16 {font-size: 12px}

#top-search-div{
  width:97%;
  border:1px solid #ACF3F9;
  font: normal 13px "Lucida Grande", "Trebuchet MS", Verdana, Helvetica, sans-serif;
  margin:5px;
  padding:10px;
  height:25px;
}
.input{
  width:750px;
  float:left;
} 
.input1{
  width:750px;
  float:left;
}  
.input form{
	width:700px;
}  
#submit-btn,.submit-btn{
  color: #999999; 
  font-size: 8pt; 
  font-family: Verdana; 
  border: 1px solid #C0C0C0; 
  background-color: #D9F0FB;
  height:20px;
}  
#submit-btn,a{
   text-decoration:none;
}
#submit-btn,a:hover{
   text-decoration:none;
} 
input[type="text"]{
   margin:3px;
   padding:3px;
   height:17px;
   border:1px solid #999999;
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size:12px;

}
input[type="file"]{
   margin:3px;
   padding:3px;
   width:300px;
   height:25px;
}

input[type="password"]{
   margin:3px;
   padding:3px;
   height:17px;
   border:1px solid #999999;
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size:12px;
}        
select{
   margin:3px;
   padding:3px;
   width:180px;
   height:25px;
}
.input-small{
	width:130px; 
	border:1px solid #999999;
}
.vrec tr td{
  border-bottom:1px solid #999999;
}