<style type="text/css">

d:link {

	COLOR: #000000; TEXT-DECORATION: none
}

d:visited {

	COLOR: #000000; TEXT-DECORATION: none
}

d:active {

	COLOR: #000000; TEXT-DECORATION: none
}

d:hover {

	COLOR: #3399FF; TEXT-DECORATION: underline
}

.Vlink A:link {

	COLOR: #3333CC; TEXT-DECORATION: none
}

.Vlink A:visited {

	COLOR: #3333CC; TEXT-DECORATION: none
}

.Vlink A:active {

	COLOR: #3333CC; TEXT-DECORATION: none
}

.Vlink A:hover {

	COLOR: #FF0000; TEXT-DECORATION: none
}

.Mlink A:link {

	COLOR: #000088; TEXT-DECORATION: none
}

.Mlink A:visited {

	COLOR: #000088; TEXT-DECORATION: none
}

.Mlink A:active {

	COLOR: #000088; TEXT-DECORATION: none
}

.Mlink A:hover {

	COLOR: #FF0000; TEXT-DECORATION: underline
}

.Glink A:link {

	COLOR: #0000FF; TEXT-DECORATION: none
}

.Glink A:visited {

	COLOR: #0000FF; TEXT-DECORATION: none
}

.Glink A:active {

	COLOR: #0000FF; TEXT-DECORATION: none
}

.Glink A:hover {

	COLOR: #FF0000; TEXT-DECORATION: underline
}

.Hlink A:link {

	COLOR: #009933; TEXT-DECORATION: none

}

.Hlink A:visited {

	COLOR: #009933; TEXT-DECORATION: none

}

.Hlink A:active {

	COLOR: #009933; TEXT-DECORATION: none

}

.Hlink A:hover {

	COLOR: #FF0000; TEXT-DECORATION: none

}

.Jlink A:link {

	COLOR: #FFFFFF; TEXT-DECORATION: none

}

.Jlink A:visited {

	COLOR: #FFFFFF; TEXT-DECORATION: none

}

.Jlink A:active {

	COLOR: #FFFFFF; TEXT-DECORATION: none

}

.Jlink A:hover {

	COLOR: #FFFF00; TEXT-DECORATION: none

}

.Klink A:link {

	COLOR: #FFFFFF; TEXT-DECORATION: none

}

.Klink A:visited {

	COLOR: #FFFFFF; TEXT-DECORATION: none

}

.Klink A:active {
	COLOR: #FFFFFF; TEXT-DECORATION: none
}

.Klink A:hover {

	COLOR: #FFFF00; TEXT-DECORATION: none

}
.Olink A:link {

	COLOR: #000000; TEXT-DECORATION: none

}

.Olink A:visited {

	COLOR: #000000; TEXT-DECORATION: none

}

.Olink A:active {
	COLOR: #000000; TEXT-DECORATION: none
}

.Olink A:hover {

	COLOR: #FF0000; TEXT-DECORATION: underline

}
</style>