body {
	font: 14px/1.5 helvetica-neue, helvetica, arial, san-serif;
}

h1 {
	margin-top:0;
}

#main {
	width: 275px;
	height:auto;
	margin:auto;
	padding: 20px;
}

#image-list {
	list-style:none;
	margin:0;
	padding:0;
}
#image-list li {
	background: #fff;
	border: 1px solid #ccc;
	text-align:center;
	padding:20px;
	margin-bottom:19px;
}
#image-list li img {
	width: 150px;
	height:150px;
	vertical-align: middle;
	border:1px solid #474747;
}
